<section class="about-us">
  <button (click)="toggleDescription()" class="about-us-title">-</button>
  <div *ngIf="showDescription" class="about-us-content">
    <p>
      Welcome to our professional blogging platform. We are a team of passionate
      writers, aiming to deliver high-quality content in various fields.
    </p>
    <p>
      With a focus on providing valuable insights and knowledge, we strive to
      engage our readers with informative and engaging articles.
    </p>
    <p>Explore our platform and join our vibrant community today!</p>
  </div>
</section>
