<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h3>Explore</h3>
        <nav>
          <ul class="footer-links d-flex">
            <li>
              <a routerLink="/" routerLinkActive="active" class="nav-link"
                >Home</a
              >
            </li>
            <li>
              <a
                routerLink="/about-us"
                routerLinkActive="active"
                class="nav-link"
                >About Us</a
              >
            </li>
            <li>
              <a
                routerLink="/contact-us"
                routerLinkActive="active"
                class="nav-link"
                >Contact Us</a
              >
            </li>
            <li>
              <a
                routerLink="/privacy-policy"
                routerLinkActive="active"
                class="nav-link"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a
                routerLink="/terms-of-use"
                routerLinkActive="active"
                class="nav-link"
                >Terms of Use</a
              >
            </li>
            <li>
              <a
                routerLink="/sitemap"
                routerLinkActive="active"
                class="nav-link"
                >Sitemap</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6 d-flex justify-content-end align-items-center">
        <p class="mr-3">
          &copy; {{ currentDate | date : "yyyy" }} InsightfulBytes. All rights
          reserved.
        </p>
        <div class="social-icons">
          <a href="https://www.facebook.com/InsightfulBytes" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="https://twitter.com/InsightfulBytes" target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            href="https://www.linkedin.com/company/insightfulbytes"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://www.instagram.com/insightfulbytes" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
        <p class="site-credits mb-0">
          Designed and Developed by
          <a href="https://www.insightfulbytes.com" target="_blank"
            >InsightfulBytes</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
